APP_ENV=local
APP_DEBUG=false
APP_URL=http://localhost/school/public
APP_TIMEZONE=Asia/Kolkata
APP_ALLOWED_ORIGINS=http://localhost
DB_SERVER=localhost\SQLEXPRESS
DB_DATABASE=tmpgolden
DB_USERNAME=
DB_PASSWORD=
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
TOKEN_TTL_MINUTES=10080

